h4 {
  padding: 20px 20px;
  color: darkslateblue;
}

/* Original button */
.btn {
  display: block;
  background-color: transparent;
  width: 20%;
  margin: 10px auto;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid #c3c3c3;
}

/* Exemple de butoane */
.btn-default {
  background-color: white;
  color: black;
  border: 1px solid grey;
}
.btn-default:hover {
  background-color: lightgrey;
  border: 1px solid grey;
}
.btn-primary {
  background-color: #0d6efd;
  color: white;
}
.btn-primary:hover {
  background-color: #0065fa;
  border: none;
}
.btn-secondary {
  background-color: #6c757d;
  color: white;
}
.btn-secondary:hover {
  background-color: #66747f;
  border: none;
}
.btn-success {
  background-color: #198754;
  color: white;
}
.btn-success:hover {
  background-color: #157649;
  border: none;
}
.btn-info {
  background-color: #5bc0de;
  color: black;
}
.btn-info:hover {
  background-color: #4fafcc;
  border: none;
}
.btn-warning {
  background-color: #ffc107;
  color: black;
}
.btn-warning:hover {
  border: none;
  background-color: #ebb000;
}
.btn-danger {
  background-color: red;
  color: white;
}
.btn-danger:hover {
  border: none;
  background-color: rgb(224, 0, 0);
}
.btn-dark {
  background-color: black;
  color: white;
}
.btn-dark:hover {
  border: none;
}
.btn-light {
  color: black;
  background-color: azure;
}
.btn-light:hover {
  border: none;
}
.btn-link {
  color: blue;
  text-decoration: underline;
}
.btn-link:hover {
  border: none;
}
.btn-active {
  background-color: #0099cc;
  color: #ffffff;
}
.btn-active:hover {
  border: none;
}
.btn-disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

/* Outline butoane */
.btn-outline-primary {
  border: 1px solid #0d6efd;
  color: #0d6efd;
}
.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
  border: none;
}
.btn-outline-secondary {
  border: 1px solid #6c757d;
  color: gray;
}
.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
  border: none;
}
.btn-outline-success {
  border: 1px solid #198754;
  color: #198754;
}
.btn-outline-success:hover {
  background-color: #198754;
  color: white;
  border: none;
}
.btn-outline-info {
  border: 1px solid #5bc0de;
  color: #5bc0de;
}
.btn-outline-info:hover {
  background-color: #54afcb;
  color: black;
  border: none;
}
.btn-outline-warning {
  background-color: transparent;
  border: 1px solid #ffc107;
  color: #ffc107;
}
.btn-outline-warning:hover {
  border: none;
  background-color: #ebb000;
  color: black;
}
.btn-outline-danger {
  background-color: transparent;
  color: red;
  border: 1px solid red;
}
.btn-outline-danger:hover {
  border: none;
  background-color: rgb(224, 0, 0);
  color: white;
}
.btn-outline-dark {
  border: 1px solid black;
  color: black;
}
.btn-outline-dark:hover {
  background-color: black;
  color: white;
  border: none;
}
.btn-outline-light {
  color: black;
  border: none;
}
.btn-outline-light:hover {
  border: none;
  background-color: azure;
}

/* Sizes buttons */
.btn-large {
  width: 170px;
  height: 50px;
}
.btn-small {
  width: 80px;
  height: 30px;
  border-radius: 7px;
  font-size: small;
  padding: 0;
}
.btn-xsmall {
  width: 60px;
  height: 15px;
  border-radius: 5px;
  font-size: x-small;
  padding: 0;
}
