.input {
  width: auto;
  height: auto;
  padding: 5px 5px;
  margin: 5px 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  border: 1px solid rgba(0, 0, 0, 0.438);
  border-radius: 5px;
}
